<launch>
    <!-- robot localization -->
      <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" output="screen" >
        <rosparam command="load" file="$(find burger_navigation)/param/ekf_imu.yaml" />
        <!--<remap from="/odometry/filtered" to="$(arg global_odom)" />-->  <!-- ??? -->
        <remap from="odom0" to="/odom" />  <!-- OK? -->
        <remap from="imu0"  to="/imu" />  <!-- OK? -->
        <!--<remap from="set_pose"  to="/initialpose" /> -->  <!-- ??? -->
      </node>  
</launch>